<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded PDFs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='background.jpg') }}" class="background-image" alt="Background Image">
    <img src="{{ url_for('static', filename='wave.jpg') }}" class="wave-overlay" alt="Wave Image">
    
    <div class="list-page">
        <h1>Uploaded PDFs</h1>
        <ul id="pdfList">
            {% for file in files %}
            <li><a href="{{ url_for('uploaded_file', filename=file) }}" target="_blank">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
