<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='background.jpg') }}" class="background-image" alt="Background Image">
    <img src="{{ url_for('static', filename='wave.jpg') }}" class="wave-overlay" alt="Wave Image">
    
    <div class="upload-page">
        <h1>Upload PDF</h1>
        <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="pdf">
            <input type="submit" value="Upload">
        </form>
        <div id="uploadMessage"></div>

        <!-- Link to view uploaded PDFs -->
        <a href="{{ url_for('list_files') }}" class="view-uploaded-button">View Uploaded PDFs</a>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
